<div class="text-center">
    <form action="/procesa/inicio" method="POST">
        <div>
            <label for="nombreUsuario">Nombre</label>
            <input type="text" name="nombreUsuario">
        </div>
        <button type="submit">Ingresar</button>
    </form>
</div>
